<ion-view view-title="{{canvas.title}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button ng-click="backToCanvases()">
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
      <div class="counter">
        <i class="icon ion-ios-people">
          <span>{{canvas.painters}}</span>
        </i>
      </div>
    </ion-nav-buttons>
  </ion-nav-bar> 

  <ion-content>

    <div id="canvas"></div>
    <div id="canvas-controls">
      <div id="pull-up-controls">
        <i class="icon ion-ios-toggle"></i>
      </div>
      <div id="brushes"></div>  
      <div class="range range-positive brush-size-range">
        <i class="icon ion-paintbrush"></i>
        <input class="brush-size" type="range" name="volume" min="1" max="30" value="15">
        <button class="button button-small button-assertive" ng-click="clearCanvas()">
          Clear Canvas
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
