<ion-view view-title="Dashboard">
  <ion-content>

    Canvas

<!--     <div class="l-demo-container">
      <canvas id="drawing-canvas" width="480" height="420"></canvas>
    </div>
    <div id="colorholder"></div>
 -->
    <div id="colors_demo">

      <div class="tools">
        <a href="#colors_sketch" data-download="png" style="float: right; width: 100px;">Download</a>
      </div>
      <canvas id="colors_sketch" width="800" height="300"></canvas>

    </div>

    <button class="button button-full button-positive" ng-click="initMIDI()">
      Init Midi
    </button>

  </ion-content>
</ion-view>
